<%= content_for :title, "Apply for Coder Factory's premium coding bootcamp, the Fast Track programme" %>
<%= content_for :description, "Apply for Coder Factory's Fast Track accelerated and revolutionary 24 week programme that places you in a well paid, exciting career in the tech industry." %>
<div class="ct-mediaSection ct-u-bgWhite ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="430" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg" data-bg-image-mobile="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h3 class="ct-breadcrumbHeader text-uppercase pull-left">We're growing<br>
            <span style="font-size:25px;">Be a part of the technology revolution.</span></h3>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>



 <div class="ct-u-bgGrey ct-u-paddingTop70 ct-u-paddingBottom40">
                <div class="container">
                  <h2 class="ct-sec-header-title">We're hiring</h2>
                  <p>Do you want to help more people learn to code? Or want to work on exciting projects? Then apply for a position at Coder Factory.</p>
			<p>These are some of the positions on offer:</p>
              </header>

              <div class="row">
                  <div class="col-sm-4">
                  
                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="0">
                          <div class="slime ct-iconBox-icon ct-iconBox-icon--default">
                              <i class="fa fa-users"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Teachers
                              </h4>
                              <p>If you have experience as a developer, with Ruby on Rails or JavaScript, we need you! Our growing range of workshops aim to help more people learn coding and empower themselves in the digital economy. Coder Factory also delivers high quality part time and full time classes for entrepreneurs and aspiring developers.</p>
															<p>Coder Factory teachers know their stuff and can make learning fun. If this is you, please get in touch.</p>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-4">
                  
                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="200">
                          <div class="parttime ct-iconBox-icon ct-iconBox-icon--default">
                              <i class="fa fa-code"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Developers
                              </h4>
                              <p>Beginner and experienced developers are in high demand everywhere. Coder Factory included. If you'd like to advance your career and gain valuable experience working on fun and challenging projects, tell us about yourself in the application form below.</p>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-4">
                  
                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="400">
                          <div class="fasttrack ct-iconBox-icon ct-iconBox-icon--default">
                              <i class="fa fa-graduation-cap"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Interns
                              </h4>
                              <p>Coder Factory offers an exciting three month internship program that allows you to gain valuable experience in a startup company that is helping people change their lives.</p>
                              <p>No matter what your background, skills or experience, you can try out different roles and responsibilities that makes a real difference to a business and Coder Factory's customers. 
                                 
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
</div></div>
			

<div class="ct-u-bgLightGrey ct-u-paddingBoth60 ct-u-bgGrey">
  <div class="container">
		<%= render 'form' %>
	</div>
</div>
