<%= content_for :title, "Apply for Coder Factory's premium coding bootcamp, the Fast Track programme" %>
<%= content_for :description, "Apply for Coder Factory's Fast Track accelerated and revolutionary 24 week programme that places you in a well paid, exciting career in the tech industry." %>
<div class="ct-mediaSection ct-u-bgWhite ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="430" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg" data-bg-image-mobile="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h3 class="ct-breadcrumbHeader text-uppercase pull-left">We're growing<br>
            <span style="font-size:25px;">Be a part of the technology revolution.</span></h3>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>



 <div class="ct-u-bgGrey ct-u-paddingTop70 ct-u-paddingBottom40">
                <div class="container">
                  <h2 class="ct-sec-header-title">We're hiring</h2>
                  <p>Do you want to help people learn to code? Or be a developer on exciting, tech startup projects?</p> 
                  <p>Then apply for a position at Coder Factory. We're based in Sydney, Australia and also deliver workshops in Brisbane, Melbourne, Adelaide and Perth.</p>
                 <h3>The culture</h3>
                 <p>Coder Factory is a fun place to be. We love that we're helping people empower themselves by learning to code. We believe the technology revolution is just beginning and we're excited to be a major part of it.</p>
			<p>These are some of the positions on offer:</p>
              </header>

              <div class="row">
                  <div class="col-sm-4">
                  
                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="0">
                          <div class="slime ct-iconBox-icon ct-iconBox-icon--default">
                              <i class="fa fa-users"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Teachers
                              </h4>
                              
															<p>Coder Factory teachers know their stuff and make learning fun. If you have an engaging personality and want to share your love of code, apply now to meet the team.</p>
															
															<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#teacher">
															  More info
															</button>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-4">
                  
                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="200">
                          <div class="parttime ct-iconBox-icon ct-iconBox-icon--default">
                              <i class="fa fa-code"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Developers
                              </h4>
                              <p>Do you like the idea of being involved with exciting, tech startup development projects and being a part of a fun and friendly team? Coder Factory has opportunities for you.</p>
                              <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#developer">
															  More info
															</button>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-4">
                  
                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="400">
                          <div class="fasttrack ct-iconBox-icon ct-iconBox-icon--default">
                              <i class="fa fa-graduation-cap"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Interns
                              </h4>
                              <p>Coder Factory offers an exciting three month internship program that allows you to gain valuable experience in a startup company that is helping people change their lives.</p>
                              
                              <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#intern">
															  More info
															</button>
                          </div>
                      </div>
                  </div>
              </div>
</div></div>
			

<div class="ct-u-bgLightGrey ct-u-paddingBoth60 ct-u-bgGrey">
  <div class="container">
		<%= render 'form' %>
	</div>
</div>

<div class="modal fade" id="teacher" tabindex="-1" role="dialog" aria-labelledby="teacherModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="teacherModal">Be a Coder Factory teacher</h4>
      </div>
      <div class="modal-body">
        <p>If you have experience as a developer and a real love of code, we need you! Our growing range of workshops aim to help more people learn coding and empower themselves in the digital economy.</p> 
        <p>Coder Factory also delivers high quality part time and full time classes for entrepreneurs and aspiring developers.</p>
        <p>We're looking for developers with these skills:</p>
        <ul class="ct-pricing">
        	<li>Ruby on Rails</li>
        	<li>Javascript (pure, jQuery, Angular, Node)</li>
        	<li>Web design</li>
        	<li>Wordpress</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="developer" tabindex="-1" role="dialog" aria-labelledby="developerModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="developerModal">Join the Coder Factory developer team</h4>
      </div>
      <div class="modal-body">
        <p>Coder Factory development clients vary from tech startup entrepreneurs to large corporates looking to disrupt their own industries.</p> 
        <p>We build MVPs in weekly sprints so you continually see the results and impact of your coding.</p>
        <p>We encourage new developers and experienced code masters to apply.</p>
        <p>We're looking for developers with these skills:</p>
        <ul class="ct-pricing">
        	<li>Full stack Ruby on Rails</li>
        	<li>Front end JavaScript (pure, jQuery, Angular, Node)</li>
        	
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="intern" tabindex="-1" role="dialog" aria-labelledby="internModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="internModal">Join the Coder Factory team</h4>
      </div>
      <div class="modal-body">
        <p>No matter what your background, skills or experience, you can try out different roles and responsibilities that makes a real difference to a business and Coder Factory's customers. </p>
        <p>We offer free coding workshops, opportunities to network with the tech startup community, and a fun environment.
        <p>We're looking for interns who would like to improve these skills:</p>
        <ul class="ct-pricing">
        	<li>Community engagement (social media/events)</li>
        	<li>Writing or journalism</li>
        	<li>Marketing</li>
        	<li>Design & UX</li>
        	
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>