<% active_nav_item :catalogue %>
<% content_for :header, 'ft-application-header' %>
<% @ft_appliction = true %>
<%= content_for :title, "Apply for Coder Factory's premium coding bootcamp, the Fast Track programme" %>
<%= content_for :description, "Apply for Coder Factory's Fast Track accelerated and revolutionary 24 week programme that places you in a well paid, exciting career in the tech industry." %>
<div class="ct-mediaSection ct-u-bgWhite ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="430" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg" data-bg-image-mobile="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h3 class="ct-breadcrumbHeader text-uppercase pull-left">Fast Track Application<br>
            <span style="font-size:25px;">Your boarding pass to the world of tech.</span></h3>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>
<div class="ct-u-bgLightGrey ct-u-paddingBoth60 ct-u-bgGrey">
  <div class="container">
<%= render 'form' %>
</div></div>