 <%= content_for :header, 'small-header' %>
  <div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8">
      <h2>Enquire about being a Change Champion</h2>
      <div class="panel panel-default"><div class="panel-body">
      <p id="notice"><%= notice %></p>

      <p class="lead">Thanks! You're a champion already! Please fill out your details and we'll get in touch straight away. Or email Dan Siepen at dan@thecoderfactory.com</p>
<%= render 'form' %>

</div></div></div></div>