<% active_nav_item :women_in_tech %>
<% @women_in_tech = true %>
<% content_for :header, 'women-header' %>

<section class="calm">				
	<div class="row">
		<div class="col-xs-12 col-lg-offset-2 col-lg-8">
			<h2 class="section-heading">Champions for Change</h2>
			<div class="panel panel-default"><div class="panel-body">
			<p class="lead">The Change Champion Scholarship Programme is Coder Factory’s solution to every company’s diversity problem.</p> 
			<p>Recent reports show that the percentage of women in programming and software engineering roles is as low as 13%. There are so many great reasons why the world needs more women in technical roles. Here are just six of them:</p>
			<div class="highlight">
				<h3>Why we need more women in tech.</h3>
				<ol>
					<li>We need more people in tech, period.</li>
					<li>There will be less sexual harassment and discomfort when there are more women around.</li>
					<li>There will be less discrimination if it's not considered unusual for women to pursue tech careers.</li>
					<li>More women in tech now will encourage more girls to pursue their own interest in tech (and will therefore enable greater equality).</li>
					<li>A current lack of innovation in industries because there are fewer women in tech.</li>
					<li>Women think, act, and approach problems differently.</li>
				</ol>
				<small>Source: <a href="https://www.quora.com/Why-do-we-need-more-women-in-technology/answer/Gayle-Laakmann-McDowell?srid=dmne&share=1" target="_blank">Gayle McDowell</a> (Quora)</small>
			</div>
			</div></div>
		</div>
	</div>
</section>

<section class="">				
	<div class="row">
		<div class="col-xs-12 col-lg-offset-2 col-lg-8">
			<h2 class="section-heading dark">WHY?</h2>
			<div class="panel panel-default"><div class="panel-body">
				<p class="lead">At Coder Factory, we all <em>love</em> what we do.</p>
				<p>Creating technology is an empowering pursuit that has the potential to improve the lives of people everywhere. <strong>We want more women to have the opportunity to love working in the tech industry.</strong></p>

				
			</div></div>

			<div class="thumbnail">
	      <img src="<%= asset_path 'ada.jpg' %>" alt="Ada Lovelace">
	      <div class="caption">
					<p><a href="https://en.wikipedia.org/wiki/Ada_Lovelace" target="_blank">Ada Lovelace</a> is famous for being the first person to create an algorithm to be run on a machine, the Analytical Engine, in the mid-19th century.</p>

					<p>Our modern world is lacking a visionary female technologist. We want to do our part to change that.</p>

				</div>
			</div>
		</div>
	</div>
</section>






