<% @women_in_tech = true %>
<% content_for :header, 'women-header' %>
<% content_for :title, 'The world needs more women in tech - Coder Factory Champions of Change Scholarship Programme' %>
<% content_for :description, "Be a part of Coder Factory's Champions of Change sponsorship programme and provide scholarships that encourage more women to enter the tech industry. " %>
<%= content_for :image, asset_url('julia.jpg') %>
<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="400" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1418034058/heart_fivwmy.jpg" data-bg-image-mobile="http://res.cloudinary.com/coder-factory/image/upload/v1418034058/heart_fivwmy.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h1 class="ct-breadcrumbHeader text-uppercase pull-left">Women in tech</h1>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>

   <div class="ct-mediaSection ct-u-bgGrey">
      <div class="ct-mediaSection-inner">
        <div class="container">

          <header class="ct-sec-header text-center ct-u-paddingTop35 ct-u-paddingBottom30 ">
              <h2 class="ct-sec-header-title">Champions for Change</h2>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                  <p class="ct-p-bigger">The Change Champion Scholarship Programme is Coder Factory’s solution to every company’s diversity problem.</p>
                </div>
              </div>
          </header>


          <div class="row ct-u-paddingBottom30">
            <div class="col-sm-12 ct-u-marginTop-10">
              <img alt="Champions for Change" src="http://coderfactory.co/assets/julia-750f4754dd2985ba1da827232bdd07a7.jpg" />
            </div>
            <div class="col-sm-6">
              <h3 class="text-uppercase ct-u-paddingBottom10 ct-u-paddingBoth20">Why?</h3>
            <p>At Coder Factory, we all love what we do.<br>
            
              Creating technology is an empowering pursuit that has the potential to improve the lives of people everywhere. We want more women to have the opportunity to love working in the tech industry.</p>
              <p>Our modern world is lacking a visionary female technologist. We want to do our part to change that.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="text-uppercase ct-u-paddingBottom10 ct-u-paddingBoth20">Champions for Change</h3>
           <p>Recent reports show that the percentage of women in programming and software engineering roles is as low as 13%. There are so many great reasons why the world needs more women in technical roles.<br>
           Perhaps your company needs more diversity in your development team, or your organisation wants to publicly show its support for growing the numbers of women in tech.<br>
           No matter what level of professional development you have, or what technology related field you are in, Coder Factory promotes the Champions for Change scholarship program to help empower more women in tech.
</p>            </div>
          </div>

              <div class="row ct-u-paddingTop50">
                  <div class="col-sm-4 col-md-4">
                      <div class="ct-graphBox ct-graphBox--default">
                          <div class="ct-graphBox-graph">
                              <div class="row">
                                  <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                      <canvas width="130" height="130" class="ct-js-pieChart" data-ct-percentage="13" data-ct-middleSpace="95" data-ct-secondColor="#d9ddde" data-ct-firstColor="#3eaefa"></canvas>
                                      <span class="ct-graphBox-graphPercentage">13%</span>
                                  </div>
                              </div>
                          </div>
                          <div class="ct-graphBox-content ct-graphBox-content--default text-center">
                              <h4 class="ct-graphBox-title">
                                  Women programming
                              </h4>
                              <p>
                                  Recent reports show that the percentage of women in programming and software engineering roles is as low as 13%
                              </p>
                          </div>
                      </div>
                  </div>


                  <div class="col-sm-4 col-md-4">
                      <div class="ct-graphBox ct-graphBox--default">
                          <div class="ct-graphBox-graph">
                              <div class="row">
                                  <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                      <canvas width="130" height="130" class="ct-js-pieChart" data-ct-percentage="30" data-ct-middleSpace="95" data-ct-secondColor="#d9ddde" data-ct-firstColor="#3eaefa"></canvas>
                                      <span class="ct-graphBox-graphPercentage">30%</span>
                                  </div>
                              </div>
                          </div>
                          <div class="ct-graphBox-content ct-graphBox-content--default text-center">
                              <h4 class="ct-graphBox-title">
                                  Google's female workforce
                              </h4>
                              <p>
                                  Google <a href="http://www.washingtonpost.com/blogs/the-switch/wp/2014/06/19/no-really-how-do-we-get-girls-to-code/" target="_blank">announced</a> in May 2014 their workforce was only 30% female.
                              </p>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-4 col-md-4">
                      <div class="ct-graphBox ct-graphBox--default">
                          <div class="ct-graphBox-graph">
                              <div class="row">
                                  <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                      <canvas width="130" height="130" class="ct-js-pieChart" data-ct-percentage="100" data-ct-middleSpace="95" data-ct-secondColor="#d9ddde" data-ct-firstColor="#3eaefa"></canvas>
                                      <span class="ct-graphBox-graphPercentage">100%</span>
                                  </div>
                              </div>
                          </div>
                          <div class="ct-graphBox-content ct-graphBox-content--default text-center">
                              <h4 class="ct-graphBox-title">
                                  Our commitment
                              </h4>
                              <p>
                                  Coder Fctory is offereing scholarships to help more women into tech
                              </p>
                          </div>
                      </div>
                  </div>

              </div>


        </div><!-- /container -->
      </div><!-- /ct-mediaSection-inner -->
    </div><!-- /section -->



          <header class="ct-sec-header text-center ct-u-paddingTop35 ct-u-paddingBottom30 ">
              <h2 class="ct-sec-header-title">Take Action</h2>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                  <p class="ct-p-bigger">Coder Factory's Fast Track programme produces quality, job-ready coders in just 24 weeks</p>
                </div>
              </div>
          </header>


        <div class="ct-mediaSection-inner ct-u-paddingBottom60">
          <div class="container">

            <div class="row ct-pricing">

                <section class="col-sm-6">
                    <h4 class="ct-pricing-sep text-center text-uppercase vibrant">
                        Student Scholarship
                    </h4>

                    <div class="ct-pricing-content">
                        <ul class="ct-pricing-content-ul">
                            <li><p>Applications currently closed. Women! Start your journey into the exciting world of tech. Coder Factory is offereing limited scholarships to the 24 week Fast Track programme. Our Champions for Change scholarhship campaign is designed to help more women in tech.</p>
                            </li>
                            <br>
                            <li>Our programme offers:</li>
                            <li class="ct-pricing-content-ul-activesep"></li>
                            <li class="ct-pricing-content-ul-activesep">1x free 24 week scholarship</li>
                            <li class="ct-pricing-content-ul-activesep">Teach you the skills for an exciting career in tech</li>
                            <li class="ct-pricing-content-ul-activesep">Everything listed in the Fast Track programme</li>
                            <li><br><br></li>                        
                            </ul>
                        <div class="ct-pricing-buttontop">
                        <a href="" class="btn vibrant btn-default">Closed</a>
                    </div>
                    </div>

                </section>

                <section class="col-sm-6">
                    <h4 class="ct-pricing-sep text-center text-uppercase vibrant">
                        Corporate Sponsorship
                    </h4>
                    <div class="ct-pricing-content">
                        <ul class="ct-pricing-content-ul">
                            <li><p>Organisations can choose to sponsor an individual to help grow the number of women in the technology industry. Perhaps your company needs more diversity in your development team, or you want to be part of the Champions for Change programme. </li></p>
                            <br>
                            <li>Your sponsorship will:</li>
                            <li class="ct-pricing-content-ul-activesep">Help more women enter the tech workforce </li>
                            <li class="ct-pricing-content-ul-activesep">Publicly show your support for women in tech</li>
                            <li class="ct-pricing-content-ul-activesep">Have the option to interview scholarship applicants</li>
                            <li class="ct-pricing-content-ul-activesep">Offer internship or employment to Fast Track students</li>
                            <li><br></li>
                        </ul>

                      <div class="ct-pricing-buttontop">
                        <a href="/partners/new?sponsorship=champion" class="btn btn-default vibrant">Enquire</a>
                    </div>
                    </div>

                </section>


            </div><!-- /row -->

          </div><!-- /container -->
    </div>