<div class="ct-mediaSection ct-u-bgWhite ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="150" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1425963693/parttime_vkyigp.jpg" data-bg-image-mobile="http://res.cloudinary.com/coder-factory/image/upload/v1425963693/parttime_vkyigp.jpg">

  <div class="ct-mediaSection-inner">
    <div class="container">
      
    </div><!-- /container -->
  </div><!-- /ct-mediaSection-inner -->
</div>

<div class="ct-u-bgLightGrey ct-u-paddingBoth60 ct-u-bgGrey">
  <div class="container"><div class="row"><div class="col-md-10 col-md-offset-1">
    <div>
      <h1>Thanks!!</h1>
      <p class="lead">Help us get to know you in preparation for your upcoming course.</p>
    </div>
    <% if params[:order] %>
	    <div class="panel panel-default"><div class="panel-body">
	    	<p>You have enrolled in the following course/s.</p>
	    	<div class="content">
		    	<ul>
		    		<% @order.order_items.each do |order_item| %>
		    	  	<li><%= Shoppe::Product.find(order_item.ordered_item_id).parent.name + ": " if Shoppe::Product.find(order_item.ordered_item_id).parent %> <%= Shoppe::Product.find(order_item.ordered_item_id).name %></li>
		    		<% end %>
		    	</ul>
	    	</div>
	    </div></div>
	  <% end %>
	<%= render 'form' %>
</div></div></div></div>