<div class="ct-mediaSection ct-u-bgBWhite ct-u-bgdark-lightfont overflowHidden cf-header" data-stellar-background-ratio="0.2" data-height="400" data-type="parallax" data-bg-image="<%= asset_path 'main-hero-compressor.jpg' %>" data-bg-image-mobile="<%= asset_path 'contact_robot.jpg' %>">
        <div class="ct-mediaSection-inner">
            <div class="container">
                <h3 class="ct-breadcrumbHeader text-uppercase pull-left">Technology is your future</h3>
            </div><!-- /container -->
        </div><!-- /ct-mediaSection-inner -->
    </div>


    <div class="ct-u-bgGrey ct-u-paddingTop70 ct-u-paddingBottom40">
                <div class="container">

              <header class="ct-sec-header text-center ct-u-paddingBottom50">
                  <h2 class="ct-sec-header-title">Why Coder Factory?</h2>
              </header>

              <div class="row">
                  <div class="col-sm-4">

                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="0">
                          <div class="ct-iconBox-icon ct-iconBox-icon--default">
                              <i class="fa fa-desktop"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Workshops
                              </h4>
                              <p>
                                  I drove on, a peculiar change crept over the appearance of things. The palpitating greyness grew darker; then—though I was still travelling with prodigious velocity—the blinking
                                  Suc- cession of day and night, which was usually indicative of a slower pace.
                              </p>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-4">
                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="200">
                          <div class="ct-iconBox-icon ct-iconBox-icon--default">
                              <i class="fa fa-users"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Part Time
                              </h4>
                              <p>
                                  I drove on, a peculiar change crept over the appearance of things. The palpitating greyness grew darker; then—though I was still travelling with prodigious velocity—the blinking
                                  Suc- cession of day and night, which was usually indicative.
                              </p>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-4">
                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="400">
                          <div class="ct-iconBox-icon ct-iconBox-icon--default">
                              <i class="fa fa-rocket"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Full Time
                              </h4>
                              <p>
                                  I drove on, a peculiar change crept over the appearance of things. The palpitating greyness grew darker; then—though I was still travelling with prodigious velocity—the blinking Suc- cession of day and night, which was usually
                              </p>
                          </div>
                      </div>
                  </div>
              </div>

          </div><!-- /container -->
      </div>



    <div class="ct-u-bgLightGrey ct-u-paddingBottom80 ct-u-paddingTop30">
         <div class="container">

         <div class="dropdown ct-dropdown">
           <button class="btn btn-default dropdown-toggle ct-btnDropdown" type="button" id="dropdownMenu1" data-toggle="dropdown">
             SYDNEY
             <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SYDNEY</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MELBOURNE</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BRISBANE</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ADELAIDE</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PERTH</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">GOLD COAST</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CANBERRA</a></li>
           </ul>

         </div>

        <header class="ct-sec-header text-left ct-u-paddingTop35">
            <h2 class="ct-sec-header-title">WORKSHOPS</h2>
        </header>

           <div class="row ct-u-paddingTop20 workshop">
                                    <div class="col-sm-4">
                                        <article class="ct-coursesList ct-u-bgWhite">
                                            <div class="ct-courseList-image">
                                                <a href="LEARNTOCODE.HTML"><img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_401/v1421879436/qetzogehrzzfrcsntvkk.png" alt="Learn to Code"></a>
                                            </div>
                                            <div class="entry-meta">
                                                <span class="cat-links pull-left"><i class="fa fa-calendar"></i>Learn to Code</span>
                                                <br>
                                            </div>
                                            <div class="ct-coursesList-cont">
                                                <h2 class="text-uppercase">Learning to code is not rocket science. Anyone can do it. And it's FUN! </h2>
                                            </div>
                                            <div class="entry-meta clearfix ct-u-borderTop">
                                          <span class="entry-date pull-left">2 days</span>
                                          <a href="learntocode.html" class="btn btn-primary btn-sm pull-right slime">Learn More</a>
                                      </div>
                                        </article>
                                    </div>

                                    <div class="col-sm-4">
                                        <article class="ct-coursesList ct-u-bgWhite">
                                            <div class="ct-courseList-image">
                                              <img src="http://coderfactory.co/assets/highschool-0d8cca78e95dc787bfe89bac1d632efb.jpg" alt="Highschoolers">
                                            </div>
                                            <div class="entry-meta">
                                                <span class="cat-links pull-left"><i class="fa fa-calendar"></i>Teens Learn to Code</span>
                                                <br>
                                            </div>
                                            <div class="ct-coursesList-cont">
                                                <h2 class="text-uppercase">Highschoolers can code too. The adults don't always have to have all the fun.</h2>
                                            </div>
                                                                 <div class="entry-meta clearfix ct-u-borderTop">
                                          <span class="entry-date pull-left">2 days</span>
                                          <a href="learntocode.html" class="btn btn-primary btn-sm pull-right slime">Learn More</a>
                                      </div>
                                        </article>
                                    </div>

                                    <div class="col-sm-4">
                                        <article class="ct-coursesList ct-u-bgWhite">
                                            <div class="ct-courseList-image">
                                              <img src="http://res.cloudinary.com/coder-factory/image/upload/bo_0px_solid_rgb:000,c_fill,h_270,w_410/v1424044389/teachers-technology_k5w6er.jpg" alt="Technology for Teachers">
                                            </div>
                                            <div class="entry-meta">
                                                <span class="cat-links pull-left"><i class="fa fa-calendar"></i>Technology for Teachers</span>
                                                <br>
                                            </div>
                                            <div class="ct-coursesList-cont">
                                                <h2 class="text-uppercase">Keep up with your students! Learn how to excite them with tech of the future.</h2>
                                            </div>
                                                                 <div class="entry-meta clearfix ct-u-borderTop">
                                          <span class="entry-date pull-left">2 days</span>
                                          <a href="learntocode.html" class="btn btn-primary btn-sm pull-right slime">Learn More</a>
                                      </div>
                                        </article>
                                    </div>
           </div><!-- /row -->

         <header class="ct-sec-header text-left ct-u-paddingTop35">
            <h2 class="ct-sec-header-title">PART TIME</h2>
        </header>

           <div class="row ct-u-paddingTop20 partime">
                                    <div class="col-sm-4">
                                        <article class="ct-coursesList ct-u-bgWhite">
                                            <div class="ct-courseList-image">
                                                <a href="LEARNTOCODE.HTML"><img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_401/v1421879436/qetzogehrzzfrcsntvkk.png" alt="Part Time"></a>
                                            </div>
                                            <div class="entry-meta">
                                                <span class="cat-links pull-left"><i class="fa fa-calendar"></i>Part Time</span>
                                                <br>
                                            </div>
                                            <div class="ct-coursesList-cont">
                                                <h2 class="text-uppercase">Learn to build web applications while you keep you day job. </h2>
                                            </div>
                                            <div class="entry-meta clearfix ct-u-borderTop">
                                          <span class="entry-date pull-left">12 weeks</span>
                                          <a href="parttime.html" class="btn btn-primary btn-sm pull-right burntsea">Learn More</a>
                                      </div>
                                        </article>
                                    </div>
           </div><!-- /row -->

        <header class="ct-sec-header text-left ct-u-paddingTop35">
            <h2 class="ct-sec-header-title">FULL TIME</h2>
        </header>

           <div class="row ct-u-paddingTop20 fulltime">
                                    <div class="col-sm-4">
                                        <article class="ct-coursesList ct-u-bgWhite">
                                            <div class="ct-courseList-image">
                                                <a href="LEARNTOCODE.HTML"><img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_401/v1421879436/qetzogehrzzfrcsntvkk.png" alt="Part Time"></a>
                                            </div>
                                            <div class="entry-meta">
                                                <span class="cat-links pull-left"><i class="fa fa-calendar"></i>Full Time</span>
                                                <br>
                                            </div>
                                            <div class="ct-coursesList-cont">
                                                <h2 class="text-uppercase">LMake a career change with our 24 week intensive full time courses. </h2>
                                            </div>
                                            <div class="entry-meta clearfix ct-u-borderTop">
                                          <span class="entry-date pull-left">6 months</span>
                                          <a href="parttime.html" class="btn btn-primary btn-sm pull-right darkknight">Learn More</a>
                                      </div>
                                        </article>
                                    </div>
           </div><!-- /row -->


        </div><!-- /container -->
     </div>


  <div class="ct-mediaSection ct-u-paddingBoth50 ct-u-bgMotive">
      <div class="ct-mediaSection-inner">
          <div class="container">
              <div class="row">

                  <div class="tweet-content col-sm-10 col-sm-offset-1">

                      <a href="#" class="tweet-icon"><i class="fa fa-twitter fa-tweets"></i></a>
                      <div class="tweets_display flexslider" data-limit="2" data-animation="fade" data-loop="true" data-animspeed="600" data-dircontrols="true">

                      </div><!-- /flexslider -->

                  </div><!-- /tweet-content -->

              </div>
          </div><!-- /container -->
      </div><!-- /ct-mediaSection-inner -->
  </div>


    <div class="ct-mediaSection ct-u-bgDarkgrey" data-stellar-background-ratio="0.2" data-height="420" data-type="parallax" data-bg-image="assets/images/content/newsletter-bg.jpg" data-bg-image-mobile="assets/images/content/newsletter-bg.jpg">
       <div class="ct-mediaSection-inner">
         <div class="container">

           <div class="row">
             <div class="col-sm-6 col-sm-offset-3">
               <div class="ct-newsletter ct-u-bgdark-lightfont text-center">
                 <h2 class="text-uppercase">Recieve tips and tutorials</h2>
                   <div class="successMessage alert alert-success" style="display: none">
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                       Thank You!
                   </div>
                   <div class="errorMessage alert alert-danger" style="display: none">
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                       Oops! An error occured. Please try again later.
                   </div>
                 <form role="form" class="ct-form--newsletter validateIt" action="assets/form/send.php" method="post" data-email-subject="Newsletter Form" data-show-errors="true" data-hide-form="true">

                   <div class="form-group animated" data-fx="fadeInUp" data-time="0">
                     <input type="email" class="form-control" id="exampleInputEmail2"  name="field[]" required placeholder="Your Email Address">
                   </div>
                   <button type="submit" class="btn btn-primary   animated" data-fx="fadeInUp" data-time="0">Get Freebies</button>

                 </form>
               </div>
             </div>
           </div><!-- /row -->
         </div><!-- /container -->
       </div><!-- /ct-mediaSection-inner -->
     </div>