<% active_nav_item :home %>
<% @full_header = true %>
<%= content_for :header, 'home-header' %>
<!-- Why Coderfactory Module -->
    <section class="why-cf">
      <div class="main-row why-cf-wrapper">
        <div class="why-cf-icons">
          <img src="<%= asset_path 'icon-code.svg' %>" />
          <img src="<%= asset_path 'icon-acyhat.svg' %>" />
          <img src="<%= asset_path 'icon-cf-logo.svg' %>" />
        </div>
      
        <p class="why-cf-info lead text-center">At Coder Factory, you <em>can</em> learn to code.</p>
        <br>
        <div class='row'>
          <div class="col-md-6">
            <div class="panel panel-slime">
              <div class="panel-heading">
                <p class="panel-title">Faster, easier and way more fun</p>
              </div>
              <div class="panel-body">
                <p>Tried learning to code online? Found it boring or tedious? Our students have tried online too and realised that face-to-face learning is <strong>faster, easier and way more fun!</strong></p>
              </div>
            </div>
            <div class="panel panel-dirtygold">
              <div class="panel-heading">
                <p class="panel-title">Change the world</p>
              </div>
              <div class="panel-body">
                <p>Whether you want a career change, to build a tech startup, or create an app that improves the world around you, taking a Coder Factory course will help you achieve your goal.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-vibrant">
              <div class="panel-heading">
                <p class="panel-title">Become a part of our community</p>
              </div>
              <div class="panel-body">
                <p>Coder Factory is different than other coding schools. You don't just sit in a classroom, you become a part of a thriving and welcoming <a href="/community">community</a> of coders.</p>
              </div>
            </div>
            <div class="panel panel-calm">
              <div class="panel-heading">
                <p class="panel-title">Be inspired</p>
              </div>
              <div class="panel-body">
                <p>Our students tell us the best part of coming to Coder Factory, is meeting and being inspired by the other participants. Who will you meet at Coder Factory?</p>
              </div>
            </div>
          </div>
        </div>
        <p class="why-cf-info text-right"><a href="/courses" title="Choose your course" class="btn-block btn-block-vibrant">Reserve your space in a course</a></p> 
      </div>
    </section>
    <section class="course-list">
      <div class="row">
        <div class="col-md-4 slime">
          <div class="course-item-content">
            <h4 class="course-logo-ft" style="color: #48A85A;">w</h4>
            <h2 class="course-item-headline">
              Weekend Workshops
            </h2>
            <p class="course-item-info lead">
              Have fun, meet amazing people, learn a powerful new skill.
            </p>
            <a href="/courses/workshops" class="btn-block btn-block-light">Workshops</a>
            
          </div>
        </div>
        <div class="col-md-4 burntsea">
          <div class="course-item-content">
                  <h4 class="course-logo-ft" style="color: #487AA8;">p</h4>
                  <h2 class="course-item-headline">
                    Part Time Courses
                  </h2>
                  <p class="course-item-info lead">
                    Learn to build web applications while you keep you day job.
                  </p>
                  <a href="/courses/part-time-courses/web-app-developer-pt" class="btn-block btn-block-light btn-center">PT Courses</a>
                  
                </div>
        </div>
        <div class="col-md-4 darknight">
          <div class="course-item-content">
        <h4 class="course-logo-ft" style="color: #2C3E50;">f</h4>
        <h2 class="course-item-headline">
          Full Time Courses
        </h2>
        <p class="course-item-info lead">
          Make a career change with our 24 week intensive full time courses.
        </p>
        <a href="/fast-track" class="btn-block btn-block-light">Fast Track</a>
        
      </div>
        </div>
      </div>
    </section>

