<div class="ct-mediaSection ct-u-bgWhite ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="430" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg" data-bg-image-mobile="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h1 class="ct-breadcrumbHeader text-uppercase pull-left">Fast Track <br>
            <span style="font-size:25px;">Register for the info pack.</span></h1>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>
<div class="ct-u-bgLightGrey ct-u-paddingBoth60 ct-u-bgGrey">
  <div class="container">
  	<div class="row">
  		<div class="col-md-8 col-md-offset-2">
				<%= render 'form' %>
			</div>
		</div>
</div></div>