<%= content_for :header, 'small-header' %>
<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="300" data-type="parallax" data-bg-image="" data-bg-image-mobile="">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h1 class="ct-breadcrumbHeader text-uppercase pull-left">Article</h1>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>


<section class="calm">        
  <div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8">
      <h2 class="section-heading">New Blog Post</h2>
      <div class="panel panel-default"><div class="panel-body">

<%= render 'form' %>

<%= link_to 'Back', posts_path %>
</div></div></div></div>