<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="400" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1425959303/about_globe_yjckvb.jpg">
    <div class="ct-mediaSection-inner">
<!--         <div class="container">
            <h3 class="ct-breadcrumbHeader text-uppercase pull-left">About</h3>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>



    <div class="ct-mediaSection ct-u-bgGrey">
      <div class="ct-mediaSection-inner">
        <div class="container">

          <header class="ct-sec-header text-center ct-u-paddingTop35 ct-u-paddingBottom30 ">
              <h2 class="ct-sec-header-title">Coder Factory story</h2>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                  <p class="ct-p-bigger">Founded in 2013, Coder Factory is a little company making big things possible.</p>
                </div>
              </div>
          </header>


          <div class="row ct-u-paddingBottom20">
            <div class="col-sm-12 ct-u-marginTop-10">
              <img alt="Coder Factory Location" src="http://res.cloudinary.com/coder-factory/image/upload/v1425958864/coder_factory_location_vow3sl.jpg" />
            </div>
            <div class="col-sm-6">
              <h3 class="text-uppercase ct-u-paddingBottom10 ct-u-paddingTop20">In two sentences</h3>
            <p>Coder Factory is a technology education provider catering to aspiring tech startup entrepreneurs and app developers.<br><br>
            Our vision is to help more people become involved in the technology revolution by providing fun, empowering education</p>
            </div>
            <div class="col-sm-6">
              <h3 class="text-uppercase ct-u-paddingBottom10 ct-u-paddingTop20">Our Mission</h3>
  <p>Coder Factory provides education in the latest web and application development technologies. Graduates will be able to build their own tech startups or applications that help them in their careers and personal life.<br>
  We are a beacon for advancing technology education in Australia and globally to help advance the work and lives of people everywhere. We support tech startup entrepreneurs through education, networking opportunities and media exposure.
</p>            </div>
          </div>

        </div><!-- /container -->
      </div><!-- /ct-mediaSection-inner -->
    </div><!-- /section -->



    <div class="ct-u-bgWhite ct-u-paddingBottom60">
         <div class="container">

           <header class="ct-sec-header text-center ct-u-paddingTop35 ct-u-paddingBottom30 ">
               <h2 class="ct-sec-header-title">The Team</h2>
               <div class="row">
                 <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                   <p>The Coder Factory team is disrupting traditional edcation and inspiring the minds of people to create, build and learn.</p>
                 </div>
               </div>
           </header>


           <div class="row">
                 <div class="col-lg-4 col-sm-6">
                   <div class="ct-teamBox">
                     <div class="ct-teamBox-circle ct-u-border-radius50">
                       <img src="http://m.c.lnkd.licdn.com/media/AAEAAQAAAAAAAACYAAAAJDIyZDJiZDUxLTEyNjgtNDAxMi05OTBiLThkMzJkNGFmZjI3NQ.jpg" alt="Pete Argent" />
                       <div class="ct-teamBox-hover">
                         <a href="https://www.linkedin.com/in/peterargent" target="_blank" class="ct-teamBox-hover-phone ct-u-border-radius50"><i class="fa fa-linkedin"></i></a>
                         <a href="mailto:pete@thecoderfactory.com" class="ct-teamBox-hover-mail ct-u-border-radius50"><i class="fa fa-envelope"></i></a>
                       </div>
                     </div>
                     <div class="ct-teamBox-content text-center"><a href="/teachers/1">
                           <h4 class="ct-teamBox-title">
                               Pete Argent
                           </h4>
                            <p>
                             Co-Founder
                           </p></a>
                     </div>
                   </div>
                 </div>

                 <div class="col-lg-4 col-sm-6">
                   <div class="ct-teamBox">
                     <div class="ct-teamBox-circle ct-u-border-radius50">
                       <img src="http://m.c.lnkd.licdn.com/media/p/6/005/0a5/03f/3e810e1.jpg" alt="Dan Siepen" />
                       <div class="ct-teamBox-hover">
                         <a href="http://www.linkedin.com/profile/view?id=255128727" target="_blank" class="ct-teamBox-hover-phone ct-u-border-radius50"><i class="fa fa-linkedin"></i></a>
                         <a href="mailto:dan@thecoderfactory.com" class="ct-teamBox-hover-mail ct-u-border-radius50"><i class="fa fa-envelope"></i></a>
                       </div>
                     </div>
                     <div class="ct-teamBox-content text-center"><a href="/teachers/5">
                           <h4 class="ct-teamBox-title">
                               Dan Siepen
                           </h4>
                            <p>
                             Co-Founder
                           </p></a>
                     </div>
                   </div>
                 </div>

                 <!-- <div class="col-lg-4 col-sm-6">
                   <div class="ct-teamBox">
                     <div class="ct-teamBox-circle ct-u-border-radius50">
                       <img src="http://m.c.lnkd.licdn.com/media/AAEAAQAAAAAAAAMSAAAAJDFjMzZmYTRkLTU3NWQtNGM4Ni1iM2I0LWRkM2ZmYWYxZGE3MQ.jpg" alt="Brendan Clark" />
                       <div class="ct-teamBox-hover">
                         <a href="https://www.linkedin.com/in/brendanclark1" target="_blank" class="ct-teamBox-hover-phone ct-u-border-radius50"><i class="fa fa-linkedin"></i></a>
                         <a href="mailto:brendan@thecoderfactory.com" class="ct-teamBox-hover-mail ct-u-border-radius50"><i class="fa fa-envelope"></i></a>
                       </div>
                     </div>
                     <div class="ct-teamBox-content text-center"><a href="/teachers/6">
                           <h4 class="ct-teamBox-title">
                               Brendan Clark
                           </h4>
                            <p>
                             General Manager
                           </p></a>
                     </div>
                   </div>
                 </div> -->

                 
                 <div class="col-lg-4 col-sm-6">
                   <div class="ct-teamBox">
                     <div class="ct-teamBox-circle ct-u-border-radius50">
                       <img src="https://media.licdn.com/media/p/6/005/0a8/1a8/1f48746.jpg" alt="Julia Clavien" />
                       <div class="ct-teamBox-hover">
                         <a href="https://www.linkedin.com/in/clavien" target="_blank" class="ct-teamBox-hover-phone ct-u-border-radius50"><i class="fa fa-linkedin"></i></a>
<!--                          <a href="mailto:tim@thecoderfactory.com" class="ct-teamBox-hover-mail ct-u-border-radius50"><i class="fa fa-envelope"></i></a> -->
                       </div>
                     </div>
                     <div class="ct-teamBox-content text-center"><a href="teachers/8">
                           <h4 class="ct-teamBox-title">
                              Julia Clavien
                           </h4>
                            <p>
                             Women in Tech Ambassador
                           </p></a>
                     </div>
                   </div>
                 </div>
           </div><!-- /row -->


                <div class="row center">
                 <div class="col-lg-4 col-sm-6">
                   <div class="ct-teamBox">
                     <div class="ct-teamBox-circle ct-u-border-radius50">
                       <img src="http://m.c.lnkd.licdn.com/media/p/7/005/091/20c/0a86555.jpg" alt="Cameron Bourke" />
                       <div class="ct-teamBox-hover">
                         <a href="http://www.linkedin.com/profile/view?id=307567924" target="_blank" class="ct-teamBox-hover-phone ct-u-border-radius50"><i class="fa fa-linkedin"></i></a>
                         <a href="mailto:cameron@thecoderfactory.com" class="ct-teamBox-hover-mail ct-u-border-radius50"><i class="fa fa-envelope"></i></a>
                       </div>
                     </div>
                     <div class="ct-teamBox-content text-center"><a href="/teachers/4">
                           <h4 class="ct-teamBox-title">
                               Cameron Bourke
                           </h4>
                            <p>
                             Resident Designer
                           </p></a>
                     </div>
                   </div>
                 </div>

                 <div class="col-lg-4 col-sm-6">
                   <div class="ct-teamBox">
                     <div class="ct-teamBox-circle ct-u-border-radius50">
                       <img src="http://m.c.lnkd.licdn.com/media/p/5/005/064/3f5/22835a8.jpg" alt="Dan Draper" />
                       <div class="ct-teamBox-hover">
                         <a href="https://www.linkedin.com/in/ddraper" target="_blank" class="ct-teamBox-hover-phone ct-u-border-radius50"><i class="fa fa-linkedin"></i></a>
                         <a href="/teachers/3" class="ct-teamBox-hover-mail ct-u-border-radius50"><i class="fa fa-user"></i></a>
                       </div>
                     </div>
                     <div class="ct-teamBox-content text-center"><a href="/teachers/3">
                           <h4 class="ct-teamBox-title">
                               Dan Draper
                           </h4>
                            <p>
                             Fast Track Teacher
                           </p></a>
                     </div>
                   </div>
                 </div>

                 <div class="col-lg-4 col-sm-6">
                   <div class="ct-teamBox">
                     <div class="ct-teamBox-circle ct-u-border-radius50">
                       <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/6/005/04b/102/3b5ac76.jpg" alt="Matt Werth" />
                       <div class="ct-teamBox-hover">
                         <a href="http://www.linkedin.com/profile/view?id=245644091" target="_blank" class="ct-teamBox-hover-phone ct-u-border-radius50"><i class="fa fa-linkedin"></i></a>
                         <a href="mailto:matt@thecoderfactory.com" class="ct-teamBox-hover-mail ct-u-border-radius50"><i class="fa fa-envelope"></i></a>
                       </div>
                     </div>
                     <div class="ct-teamBox-content text-center"><a href="teachers/2">
                           <h4 class="ct-teamBox-title">
                               Matt Werth
                           </h4>
                            <p>
                             Senior Teacher
                           </p></a>
                     </div>
                   </div>
                 </div>

                 

           </div><!-- /row -->
           <div class="row">
            <div class="col-lg-4 col-sm-6">
                   <div class="ct-teamBox">
                     <div class="ct-teamBox-circle ct-u-border-radius50">
                       <img src="http://m.c.lnkd.licdn.com/media/p/5/005/0b9/189/2e5fd63.jpg" alt="Tim Moylan" />
                       <div class="ct-teamBox-hover">
                         <a href="https://www.linkedin.com/in/moylantim" target="_blank" class="ct-teamBox-hover-phone ct-u-border-radius50"><i class="fa fa-linkedin"></i></a>
                         <a href="mailto:tim@thecoderfactory.com" class="ct-teamBox-hover-mail ct-u-border-radius50"><i class="fa fa-envelope"></i></a>
                       </div>
                     </div>
                     <div class="ct-teamBox-content text-center"><a href="/teachers/7">
                           <h4 class="ct-teamBox-title">
                               Tim Moylan
                           </h4>
                            <p>
                             Workshop Manager
                           </p></a>
                     </div>
                   </div>
                 </div>
          </div>

<!--            <div class="text-center">
             <a href="teammembers.html" class="btn btn-default   animated" data-fx="fadeInUp">View all Team Members</a>
           </div> -->

         </div><!-- /container -->
     </div>