// Extends
//--------------------------------------------



// Presentational
//--------------------------------------------

.darkknight {
  background-color: $darknight;
}

.vibrant {
  background-color: $vibrant;
}

.slime {
  background-color: $slime;
}

.burntsea {
  background-color: $burntsea;
}

.parttime {
  background-color: $parttime;
}

.fasttrack {
  background-color: $fasttrack;
}
