// Colours
//--------------------------------------------

$light:										      	   		 #FFF;
$darknight:										     		#2C3E50;
$midnight:										     	   	 #333;
$midnight-light: 			 lighten($midnight, 50);
$dirty-gold:						              #FF6A26;
$calm:                                #3498DB;
$subtle:                              #F8F8F8;
$slime:                               #1ABC6C;
$burntsea:                            #487AA8;
$vibrant:                             #D44F99;
$parttime:                            #FF6A26;
$fasttrack:							              #09A0EF;


// Typography
//--------------------------------------------

$body-font: 		                			 "aktiv-grotesk-std","metronic-slab","dapifer", garamond, serif;
$heading-font:                         'minerva-modern', roboto, sans-serif;

$font-size-xxxlarge:                   2.95em;
$font-size-xxlarge:                    2.06em;
$font-size-xlarge:                     1.68em;
$font-size-large:                      1.31em;
$font-size-medium:                     1.06em;
$font-size-small:                      0.75em;

$font-weight-base:                        400;
$font-weight-light:                       300;
$font-weight-bold:                        600;
$font-weight-black:                       900;

$line-height-tight:                       1.1;
$line-height-base:                        1.4;
$line-height-relaxed:                     1.7;
$line-height-loose:                       2.0;




// Breakpoints
//--------------------------------------------
