// Extends
//--------------------------------------------



// Presentational
//--------------------------------------------

.ct-coursesList {
  transition: 0.33s ease-in all;
  border-bottom: 5px solid transparent;
}

.ct-coursesList-workshop:hover {
  border-color: $slime;
}

.ct-coursesList-parttime:hover {
  border-color: $parttime;
}
.ct-coursesList-fasttrack:hover {
  border-color: $fasttrack;
}

.ct-relatedCoursesSlider {
  .flex-direction-nav {
    a {
      border-color: $slime;
      &:before {
        color: $slime;
      }
    }
  }
}

.ct-pricing .ct-pricing-sep {
  color: $light;
}

.workshop .ct-pricing .ct-pricing-content .ct-pricing-content-ul li.ct-pricing-content-ul-activesep:before {
  color: $slime;
}
