.darknight {
	background-color: $darknight;
	padding-bottom: 40px;
}
.calm {
	background-color: $calm;
	padding-bottom: 40px;
}
.dirty-gold {
	background-color: $dirty-gold;
	padding-bottom: 40px;
}
.vibrant {
	background-color: $vibrant;
	padding-bottom: 40px;
}
.slime {
	background-color: $slime;
	padding-bottom: 40px;
}
.section-heading {
	text-align: center;
	text-transform: uppercase;
	padding-top: 20px;
	color: white;
}
.dark {
	color: $darknight;
}

.section-buttons {
	margin: 30px 10px;
	text-align: center;
}

.panel {
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.panel-slime > .panel-heading {
color: $light;
background-color: $slime;
border-color: #d6e9c6;
}
.panel-calm > .panel-heading {
color: $light;
background-color: $calm;
border-color: #d6e9c6;
}
.panel-dirtygold > .panel-heading {
color: $light;
background-color: $dirty-gold;
border-color: #d6e9c6;
}
.panel-vibrant > .panel-heading {
color: $light;
background-color: $vibrant;
border-color: #d6e9c6;
}
.panel-title {
margin-top: 0;
margin-bottom: 0;
font-size: 1.3em;
color: inherit;
}

.panel-heading {
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
}
/*.course-content {
	color: white;
}*/

#dropdown 
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.panel, .panel-body {
	border-radius: 0;
}

label {
	font-weight: normal;
}
.pink {
	color: $vibrant;
}
.highlight {
	background-color: $subtle;
	padding: 10px 30px;
	margin: 20px -15px -15px;
}
.highlight ol li {
	line-height: 1.5em;
	margin-left: 20px;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 23px;
  line-height: 1.846;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-left: auto;
  margin-right: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #2196f3;
}
.thumbnail .caption {
  padding: 9px;
  color: #666666;
}

//Carousel

.carousel-indicators.active  { background: #31708f; } 
.carousel-content{ margin-top: 50px; margin-bottom: 50px;} 
.adjust1{ float:left; width:100%; margin-bottom:0; } 
.adjust2{ margin:0; background-color: #fff; } 
.carousel-indicators li{ border :1px solid #ccc;}

.carousel-control { color: #31708f; width:5%; } 
.carousel-control:hover, 
.carousel-control:focus{ color:#31708f; }

.carousel-control.left, .carousel-control.right { background-image: none; }

.media-object { margin: auto;margin-top: 15% ; }

@media screen and(max-width: 768px) {.media-object {
        margin-top: 0;
    }
}

//Location Box
.location-details{
margin-top: 50px;
margin-bottom: 50px;
}

//Info box
.box {
    border-radius: 3px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 0px 1px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
    list-style:none;
}
.box-icon {
    background-color: #fff;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h3 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: $slime;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: $slime;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.callout{padding:20px;margin:20px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px}
.callout h4{margin-top:0;margin-bottom:5px}
.callout p:last-child{margin-bottom:0}
.callout code{border-radius:3px}
.callout+.callout{margin-top:-5px}
.callout-danger{border-left-color:$dirty-gold}
.callout-danger h4{color:$dirty-gold}
.callout-danger a{color:$dirty-gold;font-weight: bold}
.callout-warning{border-left-color:$slime}
.callout-warning h4{color:$slime}
.callout-warning a{color:$slime;font-weight: bold}
.callout-info{border-left-color:$calm}
.callout-info h4{color:$calm}
.callout-info a{color:$calm;font-weight: bold}

.btn-block-light {
  color: $midnight;
  background: $light;
  transition: background 0.25s ease-in;
  border-bottom: 2px solid darken($light, 20);
  &:hover {
    background: darken($light, 20);
  }
}

.btn-block-darknight {
  color: $light;
  background: $darknight;
  transition: background 0.25s ease-in;
  border-bottom: 2px solid darken($darknight, 20);
  &:hover {
    background: darken($darknight, 20);
  }
}

.btn-block-dirtygold {
  color: $light;
  background: darken($dirty-gold, 5);
  transition: background 0.25s ease-in;
  border-bottom: 2px solid darken($dirty-gold, 20);
  &:hover {
    background: darken($dirty-gold, 25);
  }
}
.btn-block-slime {
  color: $light;
  background: darken($slime, 5);
  transition: background 0.25s ease-in;
  border-bottom: 2px solid darken($slime, 20);
  &:hover {
    background: darken($slime, 25);
  }
}
.btn-block-vibrant {
  color: $light;
  background: darken($vibrant, 5);
  transition: background 0.25s ease-in;
  border-bottom: 2px solid darken($vibrant, 20);
  &:hover {
    background: darken($vibrant, 25);
  }
}
.btn-small {
  padding:5px;
}


.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: $font-size-medium;
  font-weight: $font-weight-light;
}

.workshop-item {
  padding: 50px 0;
  /*flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;*/
  color: white;
  a {
    text-decoration: none;
  }
  .btn-block {
    width: 190px;
    margin: 0 auto;
    text-align: center;
  }
  h3 {
    margin:0;
  }
}
.workshop-section {
  padding-top: 30px;
}


.women-in-tech-hero {
  text-align: right;
  @media screen and (max-width: 1200px) {
    padding-top: 300px;
  }
}

.home-header {
  background: image-url('cube.jpg') $darknight no-repeat top center;
}
.fast-track-header {
  background: image-url('http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg') $darknight no-repeat top center;
}
.ft-application-header {
  background: image-url('http://res.cloudinary.com/coder-factory/image/upload/v1418033799/background_jetg2c.jpg') $darknight no-repeat top center;
}
.community-header {
  background: image-url('http://res.cloudinary.com/coder-factory/image/upload/v1418034058/heart_fivwmy.jpg') $darknight no-repeat top center;
}
.workshops-header {
  background: image-url('desk.jpg') $darknight no-repeat top center;
}
.women-header {
  background: image-url('julia.jpg') $darknight no-repeat top center;
}
.small-header {
  height: 100px;
  background: $darknight;
}
.workshop-header {
  height: 250px;
  @media screen and (min-width: 550px) {
    height: 300px;
  }
  overflow: hidden;
  background-size: cover;
  color: $light;
  .call-to-action-wrapper {
  width: 90%;
  @media screen and (min-width: 600px) {
    width: 66%;
  }
  margin: 4% auto;

}
}

