.ct-navbar--dark {
  background-color: $darknight;
}
.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.1em;
  text-decoration: none;
}
.logo-title {
  font-size: 1.31em;
  display: inline-block;
  font-weight: 300;
  font-family: clavo, garamond, serif;
  padding: 0 0 0 0.7em;
}
.navbar .navbar-nav li a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  font-size: $font-size-medium;
  background: transparent;
  font-family: 'futura pt', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:focus {
  color: #DBC034;
}
.navbar-nav .active.onepage > a:hover,
.navbar-nav .active.onepage > a:focus {
  background-color: transparent;
  color: #DBC034;
}
.navbar-nav li.active a {
  background-color: transparent;
  color: #DBC034;
}


.btn-primary {
background-color: $calm;
border: solid 2px $calm;
color: #ffffff;
}
