<% @thanks = true %>
<%= content_for :title, "Thanks from the Coder Factory" %>
<%= content_for :description, "Thank you and looking forward to meeting you at Coder Factory." %>

<div class="ct-mediaSection ct-u-bgWhite ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="430" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg" data-bg-image-mobile="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h3 class="ct-breadcrumbHeader text-uppercase pull-left">Thanks from the Coder Factory <br>
            <span style="font-size:25px;">We're looking forward to meeting you at Coder Factory.</span></h3>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>