<nav class="navbar ct-navbar navbar-fixed-top ct-navbar--makeSmaller ct-navbar--dark" role="navigation">
    <div class="inner-nav">
        <div class="container yamm-wrapper">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="navbar-header ">
                    <a class="navbar-brand logo" href="/">
                      <img src="<%= asset_path 'cf-logo.svg' %>" class="pull-left" />
                      <span class="logo-title">coderfactory</span>
                    </a>
                    
                </div>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                      <li class="onepage active"><a href="/">Home</a></li>
                      <li class="dropdown"><a href="#">Workshops <span class='caret'></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="/courses/workshops/learn-to-code-weekend-workshop">Learn to Code</a></li>
                          <li><a href="/courses/workshops/web-design-weekend-workshop">Web Design</a></li>
                          <li><a href="/courses/workshops/wordpress-weekend-workshop">Wordpress Workshop</a></li>
                          <li><a href="/courses/workshops/learn-to-code-for-highschoolers">Highschool Coders</a></li>
                          <li><a href="/courses/workshops/technology-for-teachers-workshop">Tech for Teachers</a></li>
                        </ul>
                      </li>
                      <li class="onepage"><a href="/courses/part-time-courses/web-app-developer-pt">Part Time</a></li>
                      <li class="onepage"><a href="/fast-track">Fast Track</a></li>
                      <li class="onepage"><a href="/community">Community</a></li>
                      <li class="onepage"><a href="/blog">Blog</a></li>
                      <li class="onepage"><a href="/contact">Contact</a></li>
                      <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
        </div><!-- /.container -->
    </div>
</nav>