<footer class="ct-navbar--dark">
        <div class="container">

          <div class="row ct-u-paddingTop50">

                <div class="col-md-3 col-sm-6 ct-widget ct-link-widget">
                    <!-- <h4 class="ct-widget-title ct-fw-100">Information</h4> -->

                    <ul class="list-unstyled ct-u-ulMotiveLinks">
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/community">Community</a></li>
                      <li><a href="/blog">Blog</a></li>
                      <% if user_signed_in? %><li><a href="/admin">Admin</a></li><% end %>
                      <li><a href="/privacy">Privacy Policy</a></li>
                    </ul>

                </div>

                                <div class="col-md-3 col-sm-6 ct-widget ct-link-widget">
                    <h4 class="ct-widget-title ct-fw-100"></h4>

                    <ul class="list-unstyled ct-u-ulMotiveLinks">

                    </ul>

                </div>


                <div class="col-md-6 col-sm-12 ct-widget ct-link-widget">
                    <!-- <h4 class="ct-widget-title ct-fw-100">Coder Factory</h4> -->

                    <ul class="list-unstyled ct-u-ulMotiveLinks">
                     <p>Once you know how to code, you can build any application you like - a world of possibilities opens up to you. And I'm here to tell you, that anyone can do it, you don't need to be a maths wizz or computer nerd to be a coder. And it's fun! <br>
                    -- Pete Argent, Director, Coder Factory</p>
                    </ul>
                    <ul class="ct-socialIcons ct-socialIcons--fwhite list-inline list-unstyled">

                    <li><a href="https://www.facebook.com/thecoderfactory" target="_blank"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="https://twitter.com/coderfactory" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/the-coder-factory" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                   <li><a href="https://www.youtube.com/user/CoderFactory/videos" target="_blank"><i class="fa fa-youtube"></i></a></li>

                 </ul>

                </div>


            </div><!-- /row -->
        </div><!-- /containter -->

    </footer><!-- /footer -->