<footer>
    <div class="ct-mediaSection-inner">
        <div class="container">

            <div class="row ct-u-bgWhite">

                <div class="col-sm-6 ct-copyright ct-copyright--sameauth ct-copyright--greytext">
                    <p class="ct-copyright-name pull-left text-uppercase">Actly Inc. © 2014 All rights reserved.</p>
                </div>

                <div class="col-sm-6">
                    <ul class="ct-socialIcons ct-socialIcons--fgrey ct-socialIcons--fgreySm pull-right list-inline list-unstyled ct-u-paddingBoth20">
                        <li><a href="https://twitter.com/createitpl" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/createITpl" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div><!-- /row -->

        </div><!-- /container -->
    </div>

</footer><!-- /footer -->