<div class="navbar-header ct-navbarMobile ct-u-bgBlack">
    <a class="navbar-brand" href="/"><img src="assets/images/logo.png" alt="Actly Logo"> </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>


<div class="collapse navbar-collapse ct-menuMobile ct-u-bgBlack">
    <ul class="nav navbar-nav ct-menuMobile-navbar pull-right">
        <li class="dropdown">
            <a href="index.html">Home <span class=""></span></a>
        </li>
        <li class="dropdown">
            <a href="webdesign.html">Workshops<span class=""></span></a>
        </li>
        <li class="dropdown">
            <a href="parttime.html">Part Time<span class=""></span></a>
        </li>
        <li class="dropdown">
            <a href="fulltime.html">Fast Track<span class=""></span></a>
        </li>
        <li class="dropdown">
            <a href="blog.html">Blog<span class=""></span></a>
        </li>
        <li class="dropdown active">
            <a href="contact.html">Contact Us<span class=""></span></a>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->

<div id="ct-js-wrapper" class="ct-pageWrapper">

  <nav class="navbar ct-navbar ct-navbar--transparent navbar-fixed-top" role="navigation">
      <div class="inner-nav">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header ">
                <a class="navbar-brand logo" href="/">
                  <img src="<%= asset_path 'cf-logo.svg' %>" class="pull-left" />
                  <span class="logo-title">coderfactory</span>
                </a>

            </div>

          <!--     <ul class="ct-navbarIcons ct-navbarIcons--white ct-navbarIcons--BigHeader list-unstyled list-inline pull-right">
                  <li>
                      <form class="header-search ct-headerSearch--openbottom" role="search">
                          <button type="submit" class="btn btn-search pull-right">Submit</button>
                          <div class="form-group">
                              <input type="text" class="form-control search-input" placeholder="Search">
                          </div>

                      </form>
                  </li>

              </ul> -->

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav pull-right">
                      <li class="onepage active"><a href="/">Home</a></li>
                      <li class="dropdown"><a href="#">Workshops <span class='caret'></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="/courses/workshops/learn-to-code-weekend-workshop">Learn to Code</a></li>
                          <li><a href="/courses/workshops/web-design-weekend-workshop">Web Design</a></li>
                          <li><a href="/courses/workshops/wordpress-weekend-workshop">Wordpress</a></li>
                          <li><a href="/courses/workshops/learn-to-code-for-highschoolers">Highschool Coders</a></li>
                          <li><a href="/courses/workshops/technology-for-teachers-workshop">Tech for Teachers</a></li>
                        </ul>
                      </li>
                      <li class="onepage"><a href="/courses/part-time-courses/web-app-developer-pt">Part Time</a></li>
                      <li class="onepage"><a href="/fast-track">Fast Track</a></li>
                      <li class="onepage"><a href="/community">Community</a></li>
                      <li class="onepage"><a href="/blog">Blog</a></li>
                      <li class="onepage"><a href="/contact">Contact</a></li>
                      <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>

              </div><!-- /.navbar-collapse -->

          </div><!-- /.container -->
      </div>
  </nav>
