<div class="navbar-header ct-navbarMobile ct-u-bgBlack">
    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Actly Logo"> </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>


<div class="collapse navbar-collapse ct-menuMobile ct-u-bgBlack">
    <ul class="nav navbar-nav ct-menuMobile-navbar pull-right">
        <li class="dropdown active">
            <a>Home <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">

                <li><a href="03-actly-main-page-II.html">Home 1</a></li>

                <li><a href="index.html"> Parallax - Small</a></li>
                <li><a href="index-kenburn.html"> Ken burns - Small</a></li>
                <li><a href="index-video.html"> Video - Small</a></li>
                <li><a href="index-slider.html"> Slider - Small</a></li>

                <li class="active"><a href="index-parallax-full.html"> Parallax - Full page</a></li>
                <li><a href="index-kenburn-full.html"> Ken burns -Full page</a></li>
                <li><a href="index-video-full.html"> Video - Full page</a></li>
                <li><a href="index-slider-full.html"> Slider - Full page</a>

                <li><a href="one-page-kenburn.html"> Ken burns - Small</a></li>
                <li><a href="one-page-parallax-full.html"> Parallax - Full page</a></li>
                <li><a href="one-page-video.html"> Video - Small</a></li>
                <li><a href="one-page-slider-full.html"> Slider - Full page</a></li>

                <li><a href="index-effect-push.html"> Homepage - Push</a></li>
                <li><a href="index-effect-slice.html"> Homepage - Slice</a></li>
                <li><a href="one-page-effect-push.html"> One Page - Push</a></li>
                <li><a href="one-page-effect-slice.html"> One Page - Slice</a></li>

            </ul>
        </li>
        <li class="dropdown">
            <a>Pages <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="09-actly-about.html">About</a></li>
                <li><a href="15-actly-history.html">History</a></li>
                <li><a href="18-actly-member-page.html">Member Page</a></li>
                <li><a href="16-actly-login-page.html">Login Page</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a>Courses <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="07-actly-courses-masonry.html">Courses Masonry</a></li>
                <li><a href="04-actly-courses-list.html">Courses List</a></li>
                <li><a href="08-actly-courses-alt.html">Courses</a></li>
                <li><a href="06-actly-program.html">Actly Program</a></li>
                <li><a href="05-actly-courses-details.html">Courses Details</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a>Blog <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="10-actly-blog.html">Blog</a></li>
                <li><a href="11-actly-blog-single.html">Blog single</a></li>
                <li><a href="14-actly-blog-single2.html">Blog single - Second Type</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a>Portfolio <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="19-actly-portfolio-list.html">Portfolio Type 1</a></li>
                <li><a href="19-actly-portfolio-masonry.html">Portfolio Type 2</a></li>
                <li><a href="19-actly-portfolio-details.html">Portfolio Details</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a>Features <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="13-actly-feature-gridsystem.html"><i class="fa fa-fw fa-th"></i> Grid System</a></li>
                <li><a href="13-actly-feature-typography.html"><i class="fa fa-fw fa-font"></i> Typography</a></li>
                <li><a href="13-actly-feature-buttons.html"><i class="fa fa-fw fa-link"></i> Buttons</a></li>
                <li><a href="13-actly-feature-forms.html"><i class="fa fa-fw fa-align-justify"></i> Forms</a></li>
                <li><a href="13-actly-feature-table.html"><i class="fa fa-fw fa-table"></i> Tables</a></li>

                <li><a href="13-actly-feature-pricingtable.html"><i class="fa fa-fw fa-money"></i> Pricing Tables</a></li>
                <li><a href="13-actly-feature-contentbox.html"><i class="fa fa-fw fa-th-large"></i> Icon Boxes</a></li>
                <li><a href="13-actly-feature-personbox.html"><i class="fa fa-fw fa-users"></i> Person Boxes</a></li>
                <li><a href="13-actly-feature-toggables.html"><i class="fa fa-fw fa-toggle-on"></i> Toggables</a>
                <li><a href="13-actly-feature-mediasection.html"><i class="fa fa-fw fa-play"></i> Media Sections</a></li>

                <li><a href="13-actly-feature-charts.html"><i class="fa fa-fw fa-area-chart"></i> Charts</a></li>
                <li><a href="13-actly-feature-skills.html"><i class="fa fa-fw fa-bars"></i> Progress Bars</a></li>
                <li><a href="13-actly-feature-progressicon.html"><i class="fa fa-fw fa-star-half-full"></i> Progress Icons</a></li>
                <li><a href="13-actly-feature-lists.html"><i class="fa fa-fw fa-list"></i> Lists Simple</a></li>
                <li><a href="13-actly-feature-listsicons.html"><i class="fa fa-fw fa-list"></i> Lists Icons</a></li>

                <li><a href="13-actly-feature-section.html"><i class="fa fa-fw fa-align-justify"></i> Section</a></li>
                <li><a href="13-actly-feature-twitter.html"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>

            </ul>
        </li>
        <li><a href="12-actly-contact.html">Contact</a></li>
    </ul>
</div><!-- /.navbar-collapse -->
<div id="ct-js-wrapper" class="ct-pageWrapper">

  <nav class="navbar ct-navbar ct-navbar--transparent navbar-fixed-top" role="navigation">
      <div class="inner-nav">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header ">
                <a class="navbar-brand logo" href="/">
                  <img src="<%= asset_path 'cf-logo.svg' %>" class="pull-left" />
                  <span class="logo-title">coderfactory</span>
                </a>
                
            </div>

              <ul class="ct-navbarIcons ct-navbarIcons--white ct-navbarIcons--BigHeader list-unstyled list-inline pull-right">
                  <li>
                      <form class="header-search ct-headerSearch--openbottom" role="search">
                          <button type="submit" class="btn btn-search pull-right">Submit</button>
                          <div class="form-group">
                              <input type="text" class="form-control search-input" placeholder="Search">
                          </div>

                      </form>
                  </li>
                  <li class="ct-search-open-icon-js"><a href="#"><i class="fa fa-search"></i></a></li>

                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="fa fa-bars"></i></a></li>
              </ul>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav pull-right">
                      <li class="onepage active"><a href="#section1">Home</a></li>
                      <li class="onepage"><a href="#section2">Courses</a></li>
                      <li class="onepage"><a href="#section3">Community</a></li>
                      <li class="onepage"><a href="#section4">Blog</a></li>
                      <li class="onepage"><a href="#section5"></a></li>
                      <li class="onepage"><a href="/contact">Contact</a></li>
                  </ul>

              </div><!-- /.navbar-collapse -->

          </div><!-- /.container -->
      </div>
  </nav>