<div id="fix-parallax" class="ct-mediaSection ct-u-bgDarkgrey ct-u-bgGreyBefore ct-u-bgdark-lightfont ct-u-paddingBoth80" data-stellar-background-ratio="0.2" data-height="100%" data-type="parallax" data-bg-image="assets/images/content/iconboxleft-bg.jpg" data-bg-image-mobile="assets/images/content/iconboxleft-bg.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container-fluid" data-stellar-ratio="0.2">
            <h2 class="ct-h-big text-center text-uppercase">pick up the skills you want<br> from the comfort of your sofa</h2>
            <p class="ct-p-intro text-center">I drove on, a peculiar change crept over the appearance of things.</p>
        </div>
        <div class="container" data-stellar-ratio="0.2">
            <div class="row">
                <div class="col-md-4 col-lg-3 col-lg-offset-3 col-md-offset-2 col-xs-12">
                    <a href="16-actly-login-page.html" class="btn btn-primary btn-block ct-u-marginBottom5  animated" data-fx="fadeInUp" data-time="0">Register Now it’s Free</a>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12">
                    <a href="08-actly-courses-alt.html" class="btn btn-default btn-block animated" data-fx="fadeInUp" data-time="400">Browse Courses</a>
                </div>
            </div>
        </div>
    </div>
</div>