<div class="panel panel-slime promo-box">
            <div class="panel-heading">
              <h4 class="panel-title"><i class="fa fa-child"></i> Weekend Workshops </h4>
            </div>
            <div class="panel-body">
              <p>Have fun at a Coder Factory workshop.</p>
              <p>You can learn web design, how to code with Ruby on Rails, Wordpress and more.</p>
              <p>Now in <strong>Sydney, Brisbane, Melbourne, Adelaide, Perth</strong></p>
              <a href="/courses/workshops" class="btn btn-material-lightblue btn-raised">Enrol now</a>
            </div>
          </div>
          <div class="panel panel-calm promo-box">
            <div class="panel-heading">
              <h4 class="panel-title"><i class="fa fa-female"></i> Women in Tech </h4>
            </div>
            <div class="panel-body">
              <p>Does your organisation need to improve the gender diversity of your tech teams?</p>
              <p>Support the Champions for Change initiative.</p>
              <a href="/fast-track" class="btn btn-material-lightblue btn-raised">Show your support</a>
            </div>
          </div>
          <div class="panel panel-dirtygold promo-box">
            <div class="panel-heading">
              <h4 class="panel-title"><i class="fa fa-fighter-jet"></i> Fast Track </h4>
            </div>
            <div class="panel-body">
              <p>Six months to your new life in the tech industry. Become a developer at a tech startup or perhaps a digital nomad.</p>
              <p>Applications are open now. Class starts 7th April 2015. Limited spaces available.</p>
              <a href="/fast-track" class="btn btn-material-lightblue btn-raised">See the details</a>
            </div>
          </div>