<div class="ct-mediaSection ct-u-bgDarkgrey" data-stellar-background-ratio="0.2" data-height="420" data-type="parallax" data-bg-image="<%= asset_path 'keyboard.jpg' %>" data-bg-image-mobile="<%= asset_path 'keyboard.jpg' %>">
       <div class="ct-mediaSection-inner">
         <div class="container">

           <div class="row">
             <div class="col-sm-6 col-sm-offset-3">
               <div class="ct-newsletter ct-u-bgdark-lightfont text-center">
               <h2 class="text-uppercase">Want coding tips and tutorials?</h2>
                 <!-- <h2 class="text-uppercase">Receive tips and tutorials</h2> -->
                   
                 <form action="//coderfactory.us7.list-manage.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=2afdc8b0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="ct-form--newsletter validateIt" target="_blank" novalidate>
                 <div class="form-group animated" data-fx="fadeInUp" data-time="0">
                  <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Enter Email Address" />
                   <div id="mce-responses" class="clear">
                     <div class="response" id="mce-error-response" style="display:none"></div>
                     <div class="response" id="mce-success-response" style="display:none"></div>
                   </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                     <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c644187b6d7e06d32bcae158_2afdc8b0c3" tabindex="-1" value=""></div>
                     </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary animated" data-fx="fadeInUp" data-time="0" value="Receive tips and tutorials" name="subscribe" id="mc-embedded-subscribe" >
                  </div>
                 </form>
               </div>
             </div>
           </div><!-- /row -->
         </div><!-- /container -->
       </div><!-- /ct-mediaSection-inner -->
     </div>