<div class="top-bar">
      <div class="main-row">
        <ul>
          <li>
            <%# link_to "Play with Shoppe Admin", "/shoppe" %>
          </li>
          <li>
            <%# link_to "Browse the code", "http://github.com/tryshoppe/core" %>
          </li>
        </ul>
        <p class="text">Fast Track course is filling up quick. Apply now here!</p>
      </div>
    </div>